<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head.html" . }}
</head>
<body class="animate-fade-in">
    {{ partial "header.html" . }}
    
    <main class="main-content container animate-slide-up">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

    {{ $js := resources.Get "js/main.js" }}
    {{ if $js }}
        {{ $opts := dict "minify" true "format" "esm" "target" "es2020" "externals" (slice "three" "three/addons/*") }}
        {{/* 确保环境下 js 对象存在再尝试 Build */}}
        {{ if (isset resources "js") }}
            {{ $built := $js | js.Build $opts | fingerprint }}
            <script src="{{ $built.RelPermalink }}" integrity="{{ $built.Data.Integrity }}" type="module"></script>
        {{ else }}
            <script src="{{ $js.RelPermalink }}" type="module"></script>
        {{ end }}
    {{ end }}

</body>
</html>
