<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head.html" . }}
</head>
<body class="animate-fade-in">
    {{ partial "header.html" . }}
    
    <div class="container main-content animate-slide-up">
        {{ block "main" . }}{{ end }}
    </div>

    {{ partial "footer.html" . }}


    {{ $js := resources.Get "js/main.js" }}
    {{ if $js }}
        {{ $defines := dict "process.env.NODE_ENV" `"production"` }}
        {{ $opts := dict 
            "minify" true 
            "format" "esm" 
            "target" "es2020" 
            "externals" (slice "three" "three/addons/*") 
            "defines" $defines
        }}
        {{/* 强制执行 js.Build 以合并模块，杜绝子文件 404 问题 */}}
        {{ $built := $js | js.Build $opts | fingerprint }}
        <script src="{{ $built.RelPermalink }}" integrity="{{ $built.Data.Integrity }}" type="module"></script>
    {{ end }}


</body>
</html>
