{{ define "main" }}
<div class="article-container">
    <header class="article-header reveal-on-scroll">
        <div class="article-meta">
            <span>{{ .Date.Format "2006.01.02" }}</span>
            {{ if .Params.tags }}
                {{ range .Params.tags }}
                    <span>{{ . | upper }}</span>
                {{ end }}
            {{ else }}
                <span>{{ .Type | upper }}</span>
            {{ end }}
            <span>{{ .ReadingTime }} MIN READ</span>
        </div>
        <h1 class="article-title">{{ .Title }}</h1>
    </header>

    <article class="article-content reveal-on-scroll delay-100">
        {{ .Content }}
    </article>
</div>
{{ end }}
